[submodule "Invertix/vendor/GLFW"]
	path = Invertix/vendor/GLFW
	url = https://github.com/mallocobject/glfw.git
[submodule "Invertix/vendor/imgui"]
	path = Invertix/vendor/imgui
	url = https://github.com/mallocobject/imgui.git
